@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #04405a;
  /* padding: 74px 300px; */
  /* height: 100vh; */
  font-family: "Open Sans", sans-serif;
}

#header {
  font-family: "Lobster", cursive;
  background-color: #d30021;
  color: #fecf57;
  text-align: center;
  font-size: 35px;
  border-radius: 20px 20px 0px 0px;
  line-height: 115px;
  width: 1303px;
  margin: auto;
  margin-top: 100px;
}

main {
  background-color: #d30021;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1303px;
  margin: auto;
}

#canvas {
  background-color: white;
  display: grid;
  height: 742px;
  width: 1050px;
}

.pixel {
  user-select: none;
  border: 1px solid transparent;
}

.pixel:hover {
  border: 1px dotted #d30021;
}

/* remove default radio button appearance */
#tools input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#tools {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  margin: 15px;
}

#tools div {
  padding: 15px;
}

#icons {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 1.3em;
}

#tools button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  color: #04405a;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

#tools .tool {
  color: #04405a;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 0;
  aspect-ratio: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tools .size {
  color: #04405a;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 0px;
  font-size: 15px;
}

.tool,
.tool *,
.size,
.size * {
  cursor: pointer;
}

.tool label {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5px;
}

/* change appearance of active radio button */
.tool input[type="radio"]:checked + label,
#grid-size input[type="radio"]:checked + label {
  background-color: #fecf57;
  color: #04405a;
  border-radius: 5px;
}

#grid-size {
  display: flex;
  align-items: center;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.deco {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: white;
  margin: 0px 20px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3em;
  height: 100px;
  width: 1303px;
  margin: auto;
}

#footer a {
  font-family: "Lobster", cursive;
  text-decoration: none;
  text-align: center;
  padding: 8px 12px 8px 15px;
  background-color: #d30021;
  color: #fecf57;
  border-radius: 20px;
}
